body {
    background: rgb(105, 99, 99);
    color: rgb(248, 245, 245);
    text-align: center;
    background-size: 120% 150%;

}

h1 {
    color: rgba(30, 195, 245, 0.879);
    height: 100px;
    ;

}

.restart {
    background-color: whitesmoke;
    padding: 10px;
    margin: 20px;
}

.board {
    height: 100px;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    margin-top: 10px;
    position: center;
    background-attachment: scroll;
}

.table {

    margin: 20px auto;
}

.flag {
    text-align: '🚩';
}

.cell {
    height: 50px;
    width: 50px;
    background-color: white;
    padding: 10px;
}

.over {
    height: 50px;
    width: 100px;
    font-size: medium;
    color: rgb(210, 13, 13);
    font-size: 2em;
    text-align: center;
    margin: auto;
}

.hide {
    display: none;

}